body {
  margin: 0;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

